body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f8fa;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

header .btn {
    background-color: #ff6250;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.center {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-41%, -50%);
    font-size: 14px;
    color: #ff6250;
}
.worp {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-38%, -48%);
    font-size: 35px;
    color: #2d2970;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.text {
    position: absolute;
    top: 55%;
    left: 20%;
    transform: translate(-22%, -35%);
    font-size: 13px;
    line-height: 1.7;
}
